.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box; /* fixed Box Border */
    border-top: 1px solid rgba(128, 128, 128, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    background-color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    font-size: small;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.nav__reddot {
    background-color: tomato;
    width: 4px;
    height: 4px;
    display: flex;
    position: absolute;
    border-radius: 2px;
    left: 30px;
    bottom: 30px;
}